.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.gold {
  background-color: gold;
}

.font {
  font-weight: bold;
  font-size: 22px;
}
